node_modules
dist
build
.husky
.git
public
coverage
*.min.js
.prettierrc
.prettierignore
.vscode
.env
node_modules
commitlint.config.js
README.md
.lintstagedrc.json
package-lock.json
pnpm-lock.yaml
package.json
tsconfig.json
tsconfig.node.json
**/appsettings.json
**/appsettings.Development.json
src/data/photos.json